h1{
	color:#FFFFFF;
	background-color:#64A42E;
	width:100%;
	text-align:center;
	height:80px;
	border:1px solid black;
	font-size:60px;
	margin:0;
	padding:10px;
}


.simple-input{
	text-align:center;
	
	
	
}
.lorem{
	color:#A47323;
	
}

body{
	background-color:#000000;
	
}

.submit{
	text-align:center;
	
	
}
.top{
	color:#4CAECC;
	
}
#foot{
	color:#4CAECC;
	
}
